.section-items::-webkit-scrollbar {
  height: 5px;
}

.cart-items::-webkit-scrollbar{
  width: 5px;
}

.section-items::-webkit-scrollbar-track, .cart-items::-webkit-scrollbar-track {
  background: #979797;
}

.section-items::-webkit-scrollbar-thumb, .cart-items::-webkit-scrollbar-thumb {
  background: #353535;
}

.section-items::-webkit-scrollbar-thumb:hover, .cart-items::-webkit-scrollbar-thumb:hover {
  background: black;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'kaneda_gothic';
}

body {
  display: flex;
  flex-direction: column;
  height: min-content;
  padding-top: 113px;
}

button {
  cursor: pointer;
}

main {
  flex: 1;
  height: max-content;
}

header{
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
}

.header-wrap {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin: 0 auto;
}

header img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  font-family: "airwavesregular";
  font-size: 18pt;
  position: relative;
  color: #fff;
}

nav button{
font-size: 26pt;
background-color: black;
color: white;
border: none;
}

.cart{
  position: relative;
}

.cart-length{
  width: 30px;
  height: 30px;
  position: absolute;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'kaneda_gothic_medium';
  outline: 3px solid black;
  background-color: #000;
  font-size: 18pt;
}

.cart-container{
  position: absolute;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  right: 0;
  width: 600px;
  z-index: 10;
}

.escondido{
  display: none!important;
}

.cart-button{
  cursor: pointer;
}

.cart-items{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  max-height: 500px;
  overflow-y: scroll;
}

.cart-item{
  display: flex;
  gap: 10px;
  font-size: 22pt;
  height: 170px;
  align-items: center;
}

.cart-item-img{
  display: flex;
  align-items: center;
}

.cart-item img{
  width: 150px;
  height: 170px;
  object-fit: cover;
}

.cart-item-info{
  height: 100%;
  flex: 1;
}

.ci-preco{
  display: flex;
  flex-direction: column;
  height: 69px;
  justify-content: center;
}

#ciPrecoOr{
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  font-size: 22pt;
}

#ciPreco{
  font-size: 30pt;
  font-family: 'kaneda_gothic_medium';
}

#ciNome{
  margin: 0;
  cursor: pointer;
}

#ciItemFav{
  font-size: 18pt;
  margin-left: 5px;
}

.ci-qtde{
  display: flex;
  font-size: 14pt!important;
  align-items: center;
  border: 1px solid black;
  width: max-content;
  height: 25px;
  vertical-align: text-top;
}

.ci-qtde button{
  background-color: transparent;
  color: black;
  font-family: 'kaneda_gothic';
  width: 30px;
  text-align: center;
}

.cart-item-right{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ciQtdeMin{
  border-right: 1px solid black;
  height: 25px;
  font-size: 10pt;
}

#ciQtdePlus{
  border-left: 1px solid black;
  height: 25px;
  font-size: 10pt;
}

#ciQtde{
  text-align: center;
  width: 20px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ci-add-fav{
  margin-top: 10px;
}

.ci-add-fav i{
  cursor: pointer;
}

.cart-total{
  font-size: 32pt;
}

.cart-total > span:nth-child(2){
  font-family: 'kaneda_gothic_medium';
}

.cart-item-right span{
  cursor: pointer;
}

.btn-finalizar{
  font-family: 'kaneda_gothic';
  width: 100%;
  padding: 15px;
  margin-top: 10px;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slide-info {
  height: 100%;
  background-color: #00000088;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24pt;
  font-family: "airwavesregular";
  flex-direction: column;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.borrouse{
  animation-name: borrar;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes borrar {
  0%{
    filter:blur(0)
  }

  50%{
    filter:blur(8px)
  }

  100%{
    filter:blur(0)
  }
}

.slide-button {
  color: white;
  background: transparent;
  border: 3px solid white;
  font-family: "airwavesregular";
  font-size: 24pt;
  padding: 15px;
  position: relative;
}

.slide-button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: '';
  mix-blend-mode: color-burn;
  transition: background .2s;
}

.slide-button:hover::before {
  background: white;
}

.slide-button:hover{
  background: none;
  outline: none;
  color: black;
  mix-blend-mode: screen;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.page{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  font-size: 18pt;
  margin-top: 40px;
}

.section-top{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20pt;
  font-family: 'kaneda_gothic_medium';
  margin-bottom: 10px;
}

.h-line{
  flex: 1;
  height: 1px;
  background-color: black;
}

.section-items{
  display: flex;
  justify-content: start;
  gap: 15px;
  overflow-x: auto;
  position: relative;
  padding-bottom: 10px;
}

.item-card{
  display: flex;
  flex-direction: column;
  min-width: calc(100% / 5 - 15px);
  position: relative;
}

.prod-preco>div{
  display: flex;
  gap: 15px;
  align-items: center;
}

.desc-indicator{
  font-family: 'kaneda_gothic_medium';
  position: relative;
}

.desc-indicator > i {
  rotate: -45deg;
  font-size: 50px;
}

#desconto{
  position: absolute;
  font-size: 20px;
  top: calc(50% - 10px);
  left: 2px;
  width: 100%;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}

.item-card-image {
  height: calc(500px * 60 / 100);
  width: 100%;
  position: relative;
  background-color: #e6e6e6;
  overflow: hidden;
}

.item-card-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-10px - 500px * 60 / 100 * 2);
  right: 0;
  bottom: 0;
  width: 200%;
  background: rgb(2,0,36);
  background: linear-gradient(125deg, rgba(2,0,36,0) 25%, rgba(255,255,255,.5) 50%, rgba(0,212,255,0) 75%);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    left: calc(-10px - 500px * 60 / 100 * 2);
  }
  100% {
    left: calc(10px + 500px * 60 / 100 * 2);
  }
}

.item-card-image > img {
  height: calc(500px * 60 / 100);
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  display: none;
}


.item-card-image img.loaded {
  display: block;
}

.item-card-image.loaded::before {
  display: none;
}

.item-card-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

#prodDesc {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 48px;
}
#prodNome {
  font-family: 'kaneda_gothic_medium';
  font-size: 22pt;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 29px;
  cursor: pointer;
}

.prod-tags{
  display: flex;
  justify-content: start;
  gap: 5px;
}

.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #000;
  color: white;
  font-size: 14pt;
  text-transform: capitalize;
  cursor: pointer;
}

.prod-preco{
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 81px;
  justify-content: center;
}

#prodPrecoOr{
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

#prodPreco{
  font-size: 20pt;
  font-family: 'kaneda_gothic_medium';
}

.btn-add-cart{
  width: 100%;
  background-color: #000;
  color: white;
  font-size: 18pt;
  padding: 10px;
  border: none;
}

footer{
  height: 150px;
  background-color: black;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-escolha{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.escolha{
  height: 500px;
  display: flex;
  overflow: hidden;
  border: 1px solid black;
}

.escolha-wall{
  flex-direction: row-reverse;
}

.escolha-wall .escolha-info::before{
  rotate: 190deg;
  top: -20%;
  right: unset!important;
}

.escolha-img{
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.escolha-img > img{
  object-fit: cover;
  object-position: 0 -100px;
  width: 100%;
}

.escolha-info{
  flex: 1;
  position: relative;
}

.escolha-info::before{
  content: "";
  position: absolute;
  width: 110%;
  right: 0;
  height: 150%;
  background-color: white;
  rotate: 10deg;
}

.escolha-info > div {
  position: absolute;
  z-index: 1;
  font-size: 30pt;
  line-height: 1.5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.escolha-info p{
  margin: 0 0 50px 0;
}

.cta{
  color: white;
  background-color: #000;
  font-size: 26pt;
  padding: 20px 30px;
  border: none;
  width: 500px;
  align-self: flex-start;
  font-family: 'kaneda_gothic';
  letter-spacing: 2px;
}

.escolha-top .cta{
  align-self: flex-end;
}

p{
  letter-spacing: .5px;
}

#itemFav{
  position: absolute;
  z-index: 2;
  color: #000000;
  opacity: 0;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.item-card:hover #itemFav{
  opacity: .6;
}

#itemFav:hover{
  opacity: 1!important;
}

.item-fav-on{
  color: red!important;
  opacity: 1!important;
}

.empty{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  gap: 10px;
}

.empty p {
  font-size: 25pt;
  color: #353535;
  margin: 0;
}

.empty a{
  color: black;
  font-family: 'kaneda_gothic_medium';
  text-decoration: underline;
  font-size: 20pt;
}

.user{
  position: relative;
}

.user-icon{
  color: white;
}

.user-container{
  position: absolute;
  background-color: white;
  width: 400px;
  right: 0;
  font-size: 24pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 10px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#uemail{
  color: #353535;
  font-size: 20pt;
}

.user-container span{
  color: black!important;
  font-family: 'kaneda_gothic';
  font-size: 22pt;
  transition: none;
}

.user-container li:last-child span{
  color: rgb(151, 0, 0)!important;
}

.user-container ul{
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

.user-container li{
  margin: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.user-container li:hover{
  background-color: #d3d3d3;
}

.user-container li:last-child:hover{
  background-color: rgb(151, 0, 0);
}

.user-container li:last-child:hover span{
  color: white!important;
}

.cur-item-fav-on {
  color: red !important;
  opacity: 1 !important;
}