* {
    box-sizing: border-box;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'kaneda_gothic';
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: min-content;
    padding-top: 113px;
  }
  
  button {
    cursor: pointer;
  }
  
  main {
    flex: 1;
    height: max-content;
  }
  
  header{
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    width: 100%;
  }
  
  .header-wrap {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
  
  header img {
    height: 50px;
  }


  nav ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-family: "airwavesregular";
    font-size: 18pt;
    position: relative;
    color: #fff;
  }
  
  nav button{
  font-size: 26pt;
  background-color: black;
  color: white;
  border: none;
  }
  
  .cart{
    position: relative;
  }
  
  .cart-length{
    width: 30px;
    height: 30px;
    position: absolute;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'kaneda_gothic_medium';
    outline: 3px solid black;
    background-color: #000;
    font-size: 18pt;
  }
  
  .cart-container{
    position: absolute;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    right: 0;
    width: 600px;
    z-index: 10;
  }
  
  .escondido{
    display: none!important;
  }
  
  .cart-button{
    cursor: pointer;
  }
  
  .cart-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .cart-item{
    display: flex;
    gap: 10px;
    font-size: 22pt;
    height: 170px;
    align-items: center;
  }
  
  .cart-item-img{
    display: flex;
    align-items: center;
  }
  
  .cart-item img{
    width: 150px;
    height: 170px;
    object-fit: cover;
  }
  
  .cart-item-info{
    height: 100%;
    flex: 1;
  }
  
  .ci-preco{
    display: flex;
    flex-direction: column;
    height: 69px;
    justify-content: center;
  }
  
  #ciPrecoOr{
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    font-size: 22pt;
  }
  
  #ciPreco{
    font-size: 30pt;
    font-family: 'kaneda_gothic_medium';
  }
  
  #ciNome{
    margin: 0;
    cursor: pointer;
  }
  
  #ciItemFav{
    font-size: 18pt;
    margin-left: 5px;
  }
  
  .ci-qtde{
    display: flex;
    font-size: 14pt!important;
    align-items: center;
    border: 1px solid black;
    width: max-content;
    height: 25px;
    vertical-align: text-top;
  }
  
  .ci-qtde button{
    background-color: transparent;
    color: black;
    font-family: 'kaneda_gothic';
    width: 30px;
    text-align: center;
  }
  
  .cart-item-right{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #ciQtdeMin{
    border-right: 1px solid black;
    height: 25px;
    font-size: 10pt;
  }
  
  #ciQtdePlus{
    border-left: 1px solid black;
    height: 25px;
    font-size: 10pt;
  }
  
  #ciQtde{
    text-align: center;
    width: 20px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ci-add-fav{
    margin-top: 10px;
  }
  
  .ci-add-fav i{
    cursor: pointer;
  }
  
  .cart-total{
    font-size: 32pt;
  }
  
  .cart-total > span:nth-child(2){
    font-family: 'kaneda_gothic_medium';
  }
  
  .cart-item-right span{
    cursor: pointer;
  }
  
  .btn-finalizar{
    font-family: 'kaneda_gothic';
    width: 100%;
    padding: 15px;
    margin-top: 10px;
  }

  main{
    width: 900px;
    margin: 0 auto;
  }

  .cad-title{
    font-size: 28pt;
  }

  .cad-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }

  .form{
    font-size: 28pt;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 620px;
    flex-wrap: wrap;
  }

  .form > div{
    width: calc(50% - 25px);
  }

  .form-wrap{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    position: relative;
  }

  .form-wrap > span{
    color: red;
    position: absolute;
    top: 3px;
    right: 4px;
    font-size: 16pt;
  }

  .form-double > span{
    right: calc(50% + 7px);
  }

  .form > div > p{
    font-size: 22pt;
  }

  input{
    flex: 1;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'kaneda_gothic';
    font-size: 16pt;
    letter-spacing: 1px;
  }

  input:focus{
    outline-style: none;
    border: 2px solid black;
  }

  select{
    flex: 1;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'kaneda_gothic';
    font-size: 16pt;
    letter-spacing: 1px;
  }

  button{
    border: none;
    background-color: #000;
    color: white;
    font-family: 'kaneda_gothic';
    font-size: 28pt;
    padding: 15px;
    width: 100%;
  }

  button:disabled{
    opacity: .7;
    cursor: not-allowed;
  }

  .form-wrap i{
    position: absolute;
    font-size: 18pt;
    right: 10px;
    top: 10px;
    color: #666;
    cursor: pointer;
    width: 30px;
    text-align: center;
  }

  .p-cad{
    font-size: 20pt;
  }

  .p-cad a{
    font-family: 'kaneda_gothic_medium';
    color: black;
  }

  input.invalid{
    border: 2px solid red;
  }

  .dialog{
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    z-index: 5;
    font-size: 16pt;
    left: -270px;
    border: 1px solid rgb(100, 100, 100);
    letter-spacing: 1px;
    width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    gap: 10px;
  }

  .dialog > p{
    margin: 0;
  }

  .dialog > p:first-child{
    font-size: 20pt;
  }

  .dialog > p[data-ok="true"]{
    text-decoration: line-through;
  }

  .sucesso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 113px);
    font-size: 20pt;
  }

  .sucesso > p:first-child{
    font-size: 28pt;
  }